# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=playground
MYSQL_USER=
MYSQL_PASSWORD=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# API URLs
VITE_API_BASE_URL=http://localhost:8080
OAUTH_CALLBACK_URL=http://localhost:8080/test/oauth/verify-code